<h3>Add</h3>
<div id="new-blog-post">
    <input type="text" ng-model="newBlog.title"/>
    <textarea ng-model="newBlog.content"></textarea>
    <button ng-click="updateBlog(newBlog)">Add</button>
</div>

<div id="existing-posts">
    <h3>Posts</h3>
    <div ng-repeat="selected in selectedBlog | filter:searchText" class="blogs-listing">
      <div class="blog-post">
        <h2 class="blog-post-title">{{selected.title}}</h2>
        <ul class="blog-post-meta">
            <li ng-repeat="tag in selected.tags">{{tag}}</li>
        </ul>
        <div class="blog-post-content">
          <textarea ng-model="selected.content">{{selected.content}}</textarea>
        </div>
          <button ng-click="updateBlog(selected)">Update</button>
      </div>
    </div>
</div>